@media (max-width: 1400px) {

    .adaptive,
    .contacts-text br {
        display: none;
    }

    .logo {
        width: 95%;
    }

    .menu-item {
        padding-inline: 8.5%;
    }

    .basket {
        left: 55px;
    }

    .product-items-wrapper {
        column-gap: 20px;
        row-gap: 35px;
    }

    .product-item {
        width: 200px;
    }

    .product-img {
        width: 200px;
    }

    .product-name {
        font-size: 16px;
    }

    .product-description {
        font-size: 11px;
    }

    .filter {
        font-size: 14px;
    }

    .about-us-text {
        padding-top: 18px;
        font-size: min(1.29vw, 18px);
    }

    .map {
        min-width: 470px;
        height: max(310px, 25.24vw);
    }

}

@media (max-width: 1200px) {

    .header-container {
        height: 130px;
        grid-template-columns: 40% 30% 30%;
    }

    .logo {
        width: 80%;
    }

    .title {
        font-size: 24px;
    }

    .header-subscription {
        font-size: 13px;
    }

    .input {
        width: 330px;
        height: 26px;
        font-size: 13px;
    }

    .button-input {
        right: 59px;
        height: 26px;
    }

    .products-from-search {
        width: 85%;
        max-height: 250px;
        font-size: 13px;
    }

    .basket {
        gap: 3px;
        left: 30px;
        border-radius: 17px;
        width: 100px;
        height: 45px;
        font-size: 13px;

    }

    .menu-list {
        font-size: 13px;
    }

    .modal-box {
        min-width: 400px;
    }

    .order-item-description {
        grid-template-columns: 50px 260px 120px;
    }

    .order-item-title {
        width: 250px;
    }

    .section-title {
        font-size: 24px;
    }

    .product-items-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .filter {
        top: 150px;
        font-size: 11px;
        height: 255px;
    }

    .calculator-description {
        font-size: 16px;
    }

    .calculator-wrapper {
        font-size: 14px;
    }

    .calc-item-description {
        width: 80%;
    }

    .contacts {
        padding-top: 40px;
    }

    .contacts-wrapper {
        gap: 40px;
    }

    .footer {
        font-size: 13px;
    }

}

@media (max-width: 1000px) {

    div a img {
        padding-top: 5px;
        grid-row: 1 / 3;
        align-self: center;
        width: 40px;
        height: auto;
    }

    .logo {
        width: 270px;
        grid-template-columns: 50px 1fr;
    }

    .title {
        font-size: 20px;
    }

    .header-subscription {
        font-size: 11px;
        padding-top: 10px;
    }

    .search {
        width: inherit;

    }

    .input {
        width: 250px;
        height: 22px;
        font-size: 11px;
    }

    .products-from-search {
        width: 70%;
        max-height: 200px;
        font-size: 11px;
    }

    .button-input {
        right: 110px;
        height: 22px;
    }

    .header-container {
        padding: 10px 10px 0;
        height: 110px;
        grid-template-columns: 45% 35% 20%;
    }

    .basket {
        gap: 5px;
        left: -25px;
        border-radius: 14px;
        width: 90px;
        height: 35px;
        font-size: 11px;

    }

    .basket:hover {
        width: 100px;
        height: 40px;
    }

    .modal-box {
        min-width: 350px;
        font-size: 13px;
    }

    .header-modal-box {
        padding: 15px;
    }

    .close-button-icon {
        width: 20px;
    }

    .order-wrapper {
        padding: 10px;
        min-height: 80px;
    }

    .order-item {
        gap: 0px;
    }

    .order-item-description {
        grid-template-columns: 45px 260px 105px;
    }


    .basket-empty {
        font-size: 18px;
    }

    .footer-modal-box {
        padding: 15px;
    }

    .order-button {
        font-size: 11px;
    }

    .menu-list {
        font-size: 11px;
    }

    .menu-item {
        padding-inline: 8%;
    }

    .section-title {
        font-size: 20px;
    }

    .product-item {
        width: 170px;
        height: 310px;
    }

    .product-img {
        width: 170px;
        height: 130px;
    }

    .product-name {
        font-size: 13px;
    }

    .product-description {
        font-size: 11px;
    }

    .product-calories {
        font-size: 11px;
    }

    .product-weight {
        font-size: 12px;
        width: 30px;
    }

    .product-price {
        font-size: 14px;
    }

    .product-item .counter {
        bottom: 55px;
        width: 75px;
        height: 16px;
    }

    .buy-button {
        bottom: 15px;
        width: 90px;
        height: 30px;
        font-size: 11px;
    }

    .filter {
        top: 130px;
        height: 275px;
    }

    .filter-input {
        font-size: 11px;
        width: 34px;
        padding-left: 2px;
    }

    .filter-name {
        grid-column: 1 / 3;
    }

    .checkbox-wrapper {
        display: grid;
        grid-template-columns: 25px 1fr;
        align-items: center;
    }

    .calculator {
        padding-inline: 10px;
    }

    .calculator-description {
        font-size: 14px;
    }

    .calculator-wrapper {
        font-size: 12px;
        width: 700px;
    }

    .calc-item-description {
        grid-template-columns: 45px 320px 110px;
    }

    .about-us {
        padding-top: 0;
    }

    .about-us-text {
        padding-right: 20px;
        padding-top: 14px;
        font-size: 1.35vw;
    }

    .contacts {
        padding-top: 25px;
    }

    .contacts-title {
        padding-bottom: 50px;
    }

    .contacts-wrapper {
        gap: 30px;
    }

    .map {
        min-width: 390px;
        height: 267px;
    }

    .contacts-text {
        padding-top: 1.94vw;
        font-size: max(10px, 1.2vw);
    }

    .footer-container {
        padding-block: 20px;
    }

}

@media (max-width: 767px) {

    .header-container {
        grid-template-rows: max(50px, 9.1vw);
        height: max(115px, 19.5vw);
        padding: 7px 7px 0;
    }

    .header-title {
        grid-column: 1 / 3;
    }

    div a img {
        width: 30px;
    }

    .logo {
        grid-template-columns: 37px 1fr;
        width: 240px;
    }


    .title {
        font-size: clamp(14px, 2.6vw, 20px);
    }

    .header-subscription {
        font-size: clamp(9px, 1.43vw, 11px);
        padding-top: 10px;
    }

    .search {
        justify-self: normal;
        width: 70%;
        order: 1;
        grid-column: 1 / 4;

    }

    .products-from-search {
        width: 100%;
        max-height: 150px;
        font-size: max(9px, 1.43vw);
    }

    .products-from-search li a {
        padding: 7px;
    }

    .form {
        padding-top: 0;
    }

    .menu {
        order: 2;
    }

    .menu-item {
        padding-inline: 0;
    }

    .menu-list {
        font-size: clamp(9px, 1.43vw, 11px)
    }

    .input {
        width: 100%;
        height: 25px;
        font-size: clamp(9px, 1.43vw, 11px);
    }

    .basket {
        font-size: clamp(9px, 1.43vw, 11px);
        border-radius: 13px;
        width: clamp(75px, 11.73vw, 90px);
    }

    .basket:hover {
        width: max(80px, 12.38vw);
    }

    .modal-box {
        min-width: 300px;
        font-size: 11px;
    }

    .header-modal-box {
        padding: 12px;
    }

    .close-button-icon {
        width: 15px;
    }

    .order-wrapper {
        font-size: max(9px, 1.43vw);
        padding: 7px;
        min-height: 70px;
    }

    .order-item-info {
        display: none;
    }

    .order-item-description {
        grid-template-columns: 30px 70% 0;
        width: 70%;
    }

    .order-item-title {
        width: max(170px, 29vw);
    }

    .small-item-img {
        width: 25px;
        height: auto;
    }

    .order-counter {
        width: 65px;
        font-size: 11px;
    }

    .order-counter .counter-current {
        font-size: 12px;
        padding-bottom: 1px;
    }

    .order-item .counter-and-price {
        width: 100px;
    }


    .basket-empty {
        font-size: 16px;
    }

    .footer-modal-box {
        padding: 12px;
    }

    .button-input {
        top: 0px;
        right: -1px;
        height: 25px;
    }

    .section-title {
        font-size: max(14px, 2.6vw);
    }

    .product-items-wrapper {
        column-gap: 15px;
        row-gap: 25px;
    }


    .product-item {
        width: 130px;
        height: 270px;
    }

    .product-img {
        width: 130px;
        height: 100px;
    }

    .product-name {
        font-size: 11px;
    }

    .product-description {
        font-size: 9px;
    }

    .product-weight {
        font-size: 11px;
        width: 27px;
    }

    .product-price {
        font-size: 13px;
    }

    .product-calories {
        font-size: 10px;
    }

    .filter {
        top: 160px;
        font-size: 10px;
        height: 300px;
    }

    .filter .title {
        font-size: 14px;
    }

    .filter-cost-wrapper {
        display: grid;
        grid-template-columns: 25px 1fr;
        row-gap: 5px;
        align-items: center;
    }

    .filter-calories-wrapper {
        display: grid;
        grid-template-columns: 25px 1fr;
        row-gap: 5px;
        align-items: center;
    }

    .calculator {
        padding-bottom: 60px;
    }

    .calculator-wrapper {
        padding-top: 15px;
        padding-bottom: 0;
        font-size: 10px;
        width: 700px;
        width: 520px
    }

    .calc-item-description {
        grid-template-columns: 30px 240px 90px;
    }

    .calc-counter {
        width: 75px;
    }

    .calc-total {
        padding: 25px;
    }

    .about-us {
        scroll-margin-top: 140px;
    }

    .about-us-text {
        font-size: max(9px, 1.35vw);
        padding-top: 5px;
    }

    .contacts {
        scroll-margin-top: 130px;
    }

    .contacts-title {
        padding-block: 20px;
    }

    .contacts-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .map {
        order: 1;
        width: 80%;
        height: 300px;
    }

    .contacts-text {
        font-size: 11px;
    }

    .footer {
        font-size: 11px;
    }

    .footer-container {
        height: 130px;
    }

}

@media (max-width: 600px) {

    .product-item:has(.product-name:target) {
        animation: target-animation-adaptive 2s;
    }

    .products-wrapper {
        display: block;
        right: 0;
    }


    .product-items-wrapper {
        grid-template-columns: repeat(3, 30%);
        justify-items: center;
        justify-content: center;
        column-gap: 5px;
        row-gap: 15px;
    }

    .filter {
        font-size: 11px;
        position: static;
        justify-self: center;
        width: auto;
        margin: 0 15px 20px;
        height: auto;
    }

    .filter-form {
        display: flex;
        gap: 20px;
        padding: 0 5px 5px;
    }

    .filter .title {

        font-size: 14px;
        justify-self: center;
    }

    .filter-calories-wrapper {
        grid-template-columns: 40% 1fr;
        column-gap: 10px;
    }

    .filter-calories-min {
        justify-self: end;
    }

    .filter-calories-max {
        justify-self: end;
    }

    .section-title {
        padding-block: 30px;
    }

    .calculator {
        scroll-margin-top: 70px;
        height: auto;
        padding-bottom: 0;
    }

    .calculator-description {
        font-size: max(10px, 2vw);
    }

    .calc-items {
        height: 73%;
        padding-top: 10px;
        padding-inline: 10px;
    }

    .calc-item-description {
        grid-template-columns: 200px 90px;
    }

    .calc-item-img {
        display: none;
    }

    .calculator-wrapper {
        height: 435px;
        font-size: 9px;
        padding-top: 10px;
        padding-inline: 5px;
        width: 370px;
    }

    .calc-counter {
        height: 16px;
    }

    .calc-item .counter-current {
        font-size: 12px;
    }

    .counter-and-price {
        width: 60px;
    }

    .calc-counter {
        width: 100%;
    }

    .calc-item-price {
        display: none;
    }

    .calc-total {
        padding: 15px;
        gap: 40px;
    }

    .calc-total-weight-wrapper,
    .calc-total-calories-wrapper {
        display: flex;
        justify-content: center;
        width: 255px;
        padding: 15px 10px;
        border-radius: 15px;
        background-color: #f4890f75;
    }

    .about-us {
        scroll-margin-top: 105px;
    }

    .about-us-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .pekar {
        width: 50vw;
        height: 50vw;
    }

    .about-us-text {
        order: 1;
        padding-right: 0;
        font-size: 10px;
    }

    .contacts {
        padding-top: 10px;
        scroll-margin-top: 110px;
    }

    .contacts-title {
        padding-block: 20px;
    }

    .footer {
        font-size: 9px;
    }

    .footer-container {
        height: 110px;
        grid-template-columns: 60% 40%;
    }

    .messenger {
        width: 25px;
        height: auto;
    }

}

@media (max-width: 470px) {

    .product-items-wrapper {
        grid-template-columns: repeat(2, 40%);
    }

    .calculator {
        padding-inline: 5px;

    }

    .calculator-description {
        font-size: max(8px, 2.13vw);
    }

    .calc-item-description {
        grid-template-columns: 170px 75px;
    }

    .calculator-wrapper {
        width: 330px;
    }

    .calc-items {
        padding-top: 7px;
        padding-inline: 7px;
    }

    .calc-counter {
        width: 90%;
    }

    .calc-total {
        gap: 30px;
    }

    .contacts-text {
        font-size: 10px;
    }

    .map {
        min-width: 310px;
        height: 210px;
    }

    .footer-container {
        padding-inline: 10px;
        column-gap: 5px;
        grid-template-columns: 55% 45%;
        line-height: 1.5;
        padding-block: 15px;
    }

    .messenger {
        padding-block: 5px;
    }

}